﻿@model ConManSysClient.Models.ProjectMod

@{
    ViewBag.Title = "Index";
}

<style>

circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.work circle {
  fill: orange;
  fill-opacity: 1;
}

.mat circle {
  fill: mediumpurple;
  fill-opacity: 1;
}

text {
  font: 10px sans-serif;
}

</style>

<div>
    <h4>Project</h4>
    <h2>@Html.DisplayFor(model => model.name)</h2>
</div>
<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.manager)
@Html.HiddenFor(model => model.id)

<!--<div>
    @Html.ActionLink("Workers", "WorkerList", new { id = Model.id}) |
    @Html.ActionLink("Materials", "MaterialList", new { id = Model.id })
</div>-->

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Graph">Diagram</a></li>
    <li><a data-toggle="tab" href="#WorkList">Workers</a></li>
    <li><a data-toggle="tab" href="#MatList">Material</a></li>
</ul>

<div class="tab-content">
    <div id="Graph" class="tab-pane fade in active">
        <div id="projInfo" class="hidden">
        <p id="projName">@Html.Raw(Json.Encode(Model.name))</p>
        <p id="projStatus">@Html.Raw(Json.Encode(Model.status))</p>
        <p id="workList">@Html.Raw(Json.Encode(Model.workers))</p>
        <p id="matList">@Html.Raw(Json.Encode(Model.mat))</p>
        <p id="man">@Html.Raw(Json.Encode(Model.manager))</p>
        </div>

        <div id="graphSec"></div>
    </div>

    <div id="WorkList" class="tab-pane fade">
        <h3>Employees</h3>
        <p>
            <a href="@Url.Action("HireEmployee", "Project", new { id = Model.id })" class="btn btn-primary">New Employee</a>
        </p>

        <table class="table table-hover">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Title
                </th>
                <th>
                    Worker Status
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.workers)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.first + " " + item.last, "EditWorker", new { id = item.workerID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                </tr>
            }

        </table>

    </div>
    <div id="MatList" class="tab-pane fade">
        <h3>Materials</h3>
        <p>
            <a href="@Url.Action("AddMaterial", "Project", new { id = Model.id })" class="btn btn-primary">New Material</a>
        </p>

        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayName("Material")
                </th>
                <th>
                    @Html.DisplayName("Quantity Available")
                </th>
                <th>
                    @Html.DisplayName("Quantity Needed")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.mat)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.name, "EditMaterial", new { id = item.materialID})
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.amntHave, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.amntNeed, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                    </td>
                    <td>
                        <a href="@Url.Action("DelMaterial", "Project", new { id = item.materialID})" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>

<div>
    <a href="@Url.Action("ProjectList", "Manager", new { id = Model.manager.managerID })" class="btn btn-warning">Return</a>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@Scripts.Render("~/bundle/graph-scripts")