﻿@model ConManSysClient.Models.MatList

@{
    ViewBag.Title = "MaterialList";
}

<h2>Material List</h2>

<p>
    @Html.ActionLink("New Material", "AddMaterial", new { id = Model.proj.id })
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayName("Material Name")
        </th>
        <th>
            @Html.DisplayName("Quantity Available")
        </th>
        <th>
            @Html.DisplayName("Quantity Needed")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.matList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amntHave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amntNeed)
        </td>
        <td>
            @Html.ActionLink("Details", "EditMaterial", new { id = item.materialID }) 
        </td>
    </tr>
}

</table>


<div>
    @Html.ActionLink("Back", "Index", new { id = Model.proj.id })
</div>