﻿@model ConManSysClient.Models.WorkList

@{
    ViewBag.Title = "WorkerList";
}

<h2>Worker List</h2>

<p>
    @Html.ActionLink("New Employee", "HireEmployee", new { id = Model.proj.id })
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayName("FirstName")
        </th>
        <th>
            @Html.DisplayName("LastName")
        </th>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayName("Worker Status")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.workList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.first)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Details", "EditWorker", new { id = item.workerID })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back", "Index", new { id = Model.proj.id})
</div>