﻿@model ConManSysClient.Models.newProj

@{
    ViewBag.Title = "CreateProject";
}

<h2>Create Project</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.manID)
        <div class="hidden">Model.manID</div>


        <div class="form-group">
            @Html.LabelFor(model => model.nProj.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nProj.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nProj.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nProj.start, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nProj.start, new { htmlAttributes = new { @class = "form-control", @id="dateStart" } })
                @Html.ValidationMessageFor(model => model.nProj.start, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nProj.end, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nProj.end, new { htmlAttributes = new { @class = "form-control", @id="dateEnd" } })
                @Html.ValidationMessageFor(model => model.nProj.end, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nProj.status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.nProj.status, Model.nProj.statusItem, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nProj.status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-info" /> |
                <a href="@Url.Action("ProjectList", "Manager", new { id = Model.manID})" class="btn btn-warning">Back</a> 
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/bootstrap-datepicker.js"></script>

<script>
    $.fn.datepicker.defaults.format = "mm/dd/yyyy";
    var s = $("#dateStart").datepicker({
        startDate: '-3d'
    }).on('changeDate', function (ev) {
        if (ev.date.valueOf() > e.date.valueOf()) {
            var newDate = new Date(ev.date)
            newDate.setDate(newDate.getDate() + 1);
            e.setValue(newDate);
        }
        s.hide();
        $('#dateEnd')[0].focus();
    }).data('datepicker');


    var e = $("#dateEnd").datepicker({
        startDate: '-2d',
        onRender: function (date) {
            return date.valueOf() <= s.date.valueOf() ? 'disabled' : '';
        }
    }).on('changeDate', function (ev) {
        e.hide();
    }).data('datepicker');
</script>
