﻿@model ConManSysClient.Models.ProjList

@{
    ViewBag.Title = "ProjectList";
}

<div>
    <h2>
        @Html.DisplayFor(model => model.man.FirstName) @Html.DisplayFor(model => model.man.LastName) |
        <a href="@Url.Action("EditManager", "Manager", new { id = Model.man.managerID } )" class="btn btn-info">Settings</a>
    </h2>
</div>



<p>
    <h3>Projects | <a href="@Url.Action("CreateProject", "Manager", new { id = Model.man.managerID } )" class="btn btn-primary">New Project</a> </h3>
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayName("Project Name")
        </th>
        <th>
            @Html.DisplayName("Start Date")
        </th>
        <th>
            @Html.DisplayName("End Date")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.projList) {
    <tr>
        <td>
            @Html.ActionLink(item.name, "Index", new { id = item.id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            <a href="@Url.Action("EditProject", "Manager", new { id = item.id})" class="btn btn-warning">Edit</a> |
            <a href="@Url.Action("DelProject", "Manager", new { id = item.id})" class="btn btn-danger">Delete</a>
        </td>
    </tr>
}

</table>

<div>
    <a href="@Url.Action("Login", "Home")" class="btn btn-warning">Logout</a>
</div>