﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ConManSys - A DTW app</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" data-toggle="collapse" href="#About">ConManSys</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="@Url.Action("Login", "Home")">Login</a></li>
                <li><a href="@Url.Action("SignUp", "Home")">Sign Up</a></li>
            </ul>
            <div id="About" class="collapse">
                <p class="text-primary text-center">
                    ConManSys, a <abbr title="This isn't a real site. Made for demo purposes only.">"state-of-the-art"</abbr> construction management system for managers to manage their projects and workers.
                    CMS allows managers to register workers and material needed for a project. Manager your construction with our systems.
                </p>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - A DTW inc&trade; Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>